{% extends 'profile/base.html.twig' %}

{% block content %}
    <div class="c-profile">
        <h2 class="c-profile__title o-page-title" data-aos="fade-up">{% trans %}Profile data{% endtrans %}</h2>

        <div class="c-profile__profile-data" data-aos="fade-up">
            <h3 class="o-page-title" data-aos="fade-up">{% trans %}Contact data{% endtrans %}</h3>

            <div><strong>{% trans %}Firstname and lastname{% endtrans %}: </strong>{{ app.user.firstname }} {{ app.user.lastname }}</div>
            <div><strong>{% trans %}E-mail address{% endtrans %}: </strong>{{ app.user.email }}</div>
            <a href="{{ path('profile-edit-user') }}" class="o-button o-button--primary o-button--small u-margin-vertical-small">{% trans %}Edit{% endtrans %}</a>
            <a href="{{ path('profile-edit-user-password') }}" class="o-button o-button--outline o-button--small u-margin-vertical-small">{% trans %}Change password{% endtrans %}</a>
        </div>

        <hr class="u-margin-vertical-small" />

        {% set address = app.user.address() %}
        {% if address %}
            <div class="c-profile__profile-data" data-aos="fade-up">
                <h3 class="o-page-title" data-aos="fade-up">{% trans %}Address{% endtrans %}</h3>
                
                <div>
                    <strong>{% trans %}Address{% endtrans %}: </strong>
                    {{ address.country }}, {{ address.city }} {% if address.street %} {{ address.street }} {% endif %}{{ address.number }}, {{ address.postalCode }}
                    
                </div>
                <div>
                    <strong>{% trans %}Phone{% endtrans %}: </strong>
                    {% if address.phone %}
                        {{ address.phone }}
                    {% else %}
                        {% trans %}Not added{% endtrans %}
                    {% endif %}
                </div>
                <a href="{{ path('profile-edit-user-address') }}" class="o-button o-button--primary o-button--small u-margin-vertical-small">{% trans %}Edit{% endtrans %}</a>
            </div>
        {% endif %}

        <hr class="u-margin-vertical-small" />
        
    </div>
{% endblock %}

