<div class="c-sidebar js-sidebar" data-aos="fade-up">
    <div class="c-sidebar-nav">
        <ul class="c-sidebar-nav__list c-sidebar-nav__list--root">
            <li class="c-sidebar-nav__item">
                <a href="{{ path('profile') }}" class="c-sidebar-nav__link">{% trans %}My account{% endtrans %}</a>
            </li>
            <li class="c-sidebar-nav__item">
                <a href="{{ path('profile-edit-user') }}" class="c-sidebar-nav__link">{% trans %}Contact data{% endtrans %}</a>
            </li>
            <li class="c-sidebar-nav__item">
                <a href="{{ path('profile-edit-user-additional') }}" class="c-sidebar-nav__link">{% trans %}Additional info{% endtrans %}</a>
            </li>
            <li class="c-sidebar-nav__item">
                <a href="{{ path('profile-edit-user-password') }}" class="c-sidebar-nav__link">{% trans %}Change password{% endtrans %}</a>
            </li>
            <li class="c-sidebar-nav__item">
                <a href="{{ path('profile') }}" class="c-sidebar-nav__link">{% trans %}Orders{% endtrans %}</a>
            </li>
            <li class="c-sidebar-nav__item">
                <a href="{{ path('logout') }}" class="c-sidebar-nav__link">{% trans %}Logout{% endtrans %}</a>
            </li>
        </ul>
    </div>
</div>