<nav class="c-main-nav">
    <ul class="c-main-nav__list c-main-nav__list--primary c-main-nav__list--root js-main-nav--primary">
        {% if categories and categories|length > 0 %}
            <li class="c-main-nav__item has-children">
                <a href="#" class="c-main-nav__link" title="Shop">{% trans %}Shop{% endtrans %}</a>
                <div class="c-main-nav__list c-main-nav__list--level-1 c-main-nav__list--categories c-submenu">
                    <div class="o-grid o-grid--tiny">
                        {% for category in categories %}
                            <div class="o-grid__item u-1/6@desktop u-1/3@small-desktop">
                                <div class="c-main-nav__item">
                                    <a href="{{ path('category', {id: category.id}) }}" title="{{ category.name }}">
                                        <div class="c-main-nav__item-image js-lazyload" data-bg="{{ asset(category.imagePath()) }}"></div>
                                        <div class="c-main-nav__item-title">{{ category.name }}</div>
                                    </a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </li>
        {% endif %}
        {# <li class="c-main-nav__item has-children">
            <a href="#" class="c-main-nav__link" title="{% trans %}Sale{% endtrans %}">{% trans %}Sale{% endtrans %}</a>
            <ul class="c-main-nav__list c-main-nav__list--level-1 c-submenu">
                <li class="c-main-nav__item">
                    <a class="c-main-nav__link"><strong>Link1</strong></a>

                    <ul class="c-main-nav__list c-main-nav__list--level-2">
                        <li class="c-main-nav__item">
                            <a href="#" class="c-main-nav__link">Link1</a>
                        </li>
                        <li class="c-main-nav__item">
                            <a href="#" class="c-main-nav__link">Link1</a>
                        </li>
                        <li class="c-main-nav__item">
                            <a href="#" class="c-main-nav__link">Link1</a>
                        </li>
                        <li class="c-main-nav__item">
                            <a href="#" class="c-main-nav__link">Link1</a>
                        </li>
                    </ul>
                </li>
                 <li class="c-main-nav__item">
                    <div class="u-margin-bottom-tiny"><strong>Link1</strong></div>

                    <ul class="c-main-nav__list c-main-nav__list--level-2">
                        <li class="c-main-nav__item">
                            <a href="#" class="c-main-nav__link">Link1</a>
                        </li>
                        <li class="c-main-nav__item">
                            <a href="#" class="c-main-nav__link">Link1</a>
                        </li>
                        <li class="c-main-nav__item">
                            <a href="#" class="c-main-nav__link">Link1</a>
                        </li>
                        <li class="c-main-nav__item">
                            <a href="#" class="c-main-nav__link">Link1</a>
                        </li>
                    </ul>
                </li>
                 <li class="c-main-nav__item">
                    <div class="u-margin-bottom-tiny"><strong>Link1</strong></div>

                    <ul class="c-main-nav__list c-main-nav__list--level-2">
                        <li class="c-main-nav__item">
                            <a href="#" class="c-main-nav__link">Link1</a>
                        </li>
                        <li class="c-main-nav__item">
                            <a href="#" class="c-main-nav__link">Link1</a>
                        </li>
                        <li class="c-main-nav__item">
                            <a href="#" class="c-main-nav__link">Link1</a>
                        </li>
                        <li class="c-main-nav__item">
                            <a href="#" class="c-main-nav__link">Link1</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li> #}
        <li class="c-main-nav__item">
            <a href="{{ asset('new') }}" class="c-main-nav__link" title="{% trans %}New{% endtrans %}">{% trans %}New{% endtrans %}</a>
        </li>
        <li class="c-main-nav__item">
            <a href="{{ asset('sale') }}" class="c-main-nav__link" title="{% trans %}Sale{% endtrans %}">{% trans %}Sale{% endtrans %}</a>
        </li>
        <li class="c-main-nav__item">
            <a href="#" class="c-main-nav__link" title="{% trans %}Contact{% endtrans %}">{% trans %}Contact{% endtrans %}</a>
        </li>
    </ul>

    <ul class="c-main-nav__list c-main-nav__list--secondary c-main-nav__list--root o-flex@wide o-flex--justify-content-start js-main-nav--secondary">
        <li class="c-main-nav__item has-children">
            <a href="#" class="c-main-nav__link js-header-search-toggle" title="{% trans %}Search{% endtrans %}">{% trans %}Search{% endtrans %}</a>
        </li>
        {% if app.user %}
            <li class="c-main-nav__item">
                <a href="{{ path('profile') }}" class="c-main-nav__link" title="{% trans %}My account{% endtrans %}">{% trans %}My account{% endtrans %}</a>
            </li>
        {% else %}
            <li class="c-main-nav__item">
                <a href="{{ path('login') }}" class="c-main-nav__link" title="{% trans %}Login{% endtrans %}">{% trans %}Login{% endtrans %}</a>
            </li>
        {% endif %}
    </ul>
</nav>  