{% extends 'profile/base.html.twig' %}

{% block content %}
    <div class="c-profile">
        <h2 class="c-profile__title o-title u-margin-bottom" data-aos="fade-up">{{ title }}</h2>

            {{ form_start(form, {
                'attr': {
                    'novalidate': 'novalidate',
                }
            }) }}

                <div class="o-field{% if form_errors(form.address) %} is-invalid{% endif %}" 
                    data-aos="fade-up"
                    data-aos-delay="50">
                    <label class="o-input__label" for="{{ form.address.vars.id }}">{% trans %}Address{% endtrans %}</label>
                    {{ form_widget(form.address, {
                        'attr': {'class': 'o-input o-input--textarea'}
                    }) }}
                </div>
            

                <div class="o-field{% if form_errors(form.phone) %} is-invalid{% endif %}" 
                    data-validation="phone"
                    data-aos="fade-up"
                    data-aos-delay="50">
                    <label class="o-input__label" for="{{ form.phone.vars.id }}">{% trans %}Phone{% endtrans %}</label>
                    {{ form_widget(form.phone, {
                        'attr': {'class': 'o-input'}
                    }) }}
                    <div class="o-field__error">{% trans %}Please enter a valid phone!{% endtrans %}</div>
                </div>  

                <div class="o-field u-margin-top-small">
                    <div class="o-grid o-grid--small u-padding-bottom-small">
                        <div class="o-grid__item u-1/2@small-desktop">
                            
                        </div>
                        <div class="o-grid__item u-1/2@small-desktop u-text-right">
                            <button type="submit" class="o-button o-button--primary o-button--full" data-aos="fade-up" data-aos-delay="300">
                                {{ buttonText }}
                                <span class="o-icon o-icon--chevron-right"></span>
                            </button>
                        </div>
                    </div>
                </div>

                <hr data-aos="fade-in" data-aos-delay="350" />

            {{ form_end(form) }}
        
    </div>
{% endblock %}
