{% extends 'profile/base.html.twig' %}

{% set settings = {
    valueNames: [ 'name', 'category', 'supplier', 'price', 'quantity' ],
    page: 10,
    pagination: true
} %}

{% block content %}
    <div class="c-profile">
        <h2 class="c-profile__title o-title u-margin-bottom" data-aos="fade-up">{% trans %}Order{% endtrans %}</h2>

        {% set user = order.user() %}
        {% set address = order.address() %}

        <div class="o-card u-margin-bottom-large" data-aos="fade-up">
            <div class="o-card__title">{% trans %}Order details{% endtrans %}</div>
            <strong>{% trans %}Address{% endtrans %}</strong>
            <div>{{ address.country }}, {{ address.city }}</div>
            <div>{% if address.street %} {{ address.street }} {% endif %}{{ address.number }}, {{ address.postalCode }}</div>
            <div>T: {{ address.phone }}</div>

            <hr class="u-margin-top-small" />
            <strong>{% trans %}Client{% endtrans %}</strong>
            <div>{{ user.firstname }} {{ user.lastname }}</div>
            <div>{{ user.email }}</div>

            <hr class="u-margin-top-small" />
            <div><strong>{% trans %}Shipping{% endtrans %}: </strong>{{ order.shipping().name }} ({{ order.shipping().cost|format_currency('PLN', locale='pl') }})</div>
            <div><strong>{% trans %}Payment{% endtrans %}: </strong>{{ order.payment().name }} ({{ order.payment().cost|format_currency('PLN', locale='pl') }})</div>
            <div><strong>{% trans %}Status{% endtrans %}: </strong>{% include 'order/order-status.html.twig' %}</div>

            <hr class="u-margin-top-small" />
            <strong>{% trans %}Summary{% endtrans %}</strong>

            <div class="o-table o-table--left">
                <div class="o-table__row">
                    <div class="o-table__cell">{% trans %}Products{% endtrans %}: </div>
                    <div class="o-table__cell">{{ order.itemsPrice()|format_currency('PLN', locale='pl') }}</div>
                </div>

                <div class="o-table__row">
                    <div class="o-table__cell">{% trans %}Shipping{% endtrans %}: </div>
                    <div class="o-table__cell">{{ order.shipping().cost|format_currency('PLN', locale='pl') }}</div>
                </div>

                <div class="o-table__row">
                    <div class="o-table__cell">{% trans %}Payment{% endtrans %}: </div>
                    <div class="o-table__cell">{{ order.payment().cost|format_currency('PLN', locale='pl') }}</div>
                </div>

                <div class="o-table__row">
                    <div class="o-table__cell">{% trans %}Total{% endtrans %}: </div>
                    <div class="o-table__cell">{{ order.total()|format_currency('PLN', locale='pl') }}</div>
                </div>
            </div>
        </div>

        {% set items = order.items() %}
        {% if items|length > 0 %}
            <div id="order-items" class="js-list" data-list-settings="{{ settings|json_encode()|escape() }}">
                <div class="o-field u-margin-bottom" data-aos="fade-up" data-aos-delay="50">
                    <label class="o-input__label" for="">{% trans %}Search{% endtrans %}</label>
                    <div class="o-input__wrap">
                        <input type="text" class="o-input search" />
                        <span class="o-input__suffix"><span class="o-icon o-icon--search"></span></span>
                    </div>
                </div>
                <div class="o-table">
                    <div class="o-table__head">
                        <div class="o-table__row" data-aos="fade-up">
                            <div class="o-table__cell o-table__cell--image"></div>
                            <div class="o-table__cell o-table__cell--name">
                                <span class="sort" data-sort="name">{% trans %}Name{% endtrans %}</span>
                            </div>
                            <div class="o-table__cell o-table__cell--category">
                                <span class="sort" data-sort="category">{% trans %}Category{% endtrans %}</span>
                            </div>
                            <div class="o-table__cell o-table__cell--supplier">
                                <span class="sort" data-sort="supplier">{% trans %}Supplier{% endtrans %}</span>
                            </div>
                            <div class="o-table__cell o-table__cell--price">
                                <span class="sort" data-sort="price">{% trans %}Price{% endtrans %}</span>
                            </div>
                            <div class="o-table__cell o-table__cell--quantity">
                                <span class="sort" data-sort="quantity">{% trans %}Quantity{% endtrans %}</span>
                            </div>
                        </div>
                    </div>
                    <div class="o-table__body list">
                        {% for item in items %}
                            {% set product = item.product() %}
                            <div class="o-table__row" data-aos="fade-up" data-aos-delay="50">
                                <div class="o-table__cell o-table__cell--image">
                                    {% if product.featuredImagePath() %}
                                        <a href="{{ path('product', {id: product.id}) }}">
                                            <img data-src="{{ asset(product.featuredImagePath()) }}" class="js-lazyload" />
                                        </a>
                                    {% endif %}
                                </div>
                                <div class="o-table__cell o-table__cell--name name"><a href="{{ path('product', {id: product.id}) }}">{{ product.name }}</a></div>
                                <div class="o-table__cell o-table__cell--category category">{{ product.category }}</div>
                                <div class="o-table__cell o-table__cell--supplier supplier">{{ product.supplier }}</div>                            
                                <div class="o-table__cell o-table__cell--price price">
                                    {% include 'product/product-price.html.twig' with {price: item.price, discountPrice: ''} %}
                                </div>
                                <div class="o-table__cell o-table__cell--quantity quantity">{{ item.quantity }}</div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <ul class="o-pagination pagination u-margin-top" data-aos="fade-up" data-aos-delay="100"></ul>
            </div>
        {% endif %}
    </div>
{% endblock %}
