<nav class="c-main-nav">
    <ul class="c-main-nav__list c-main-nav__list--primary c-main-nav__list--root js-main-nav--primary">
        <li class="c-main-nav__item">
            <a href="#" class="c-main-nav__link" title="Shop">Shop</a>
            <div class="c-main-nav__list c-main-nav__list--level-1 c-main-nav__list--categories">
                <div class="o-grid o-grid--tiny">
                    <div class="o-grid__item u-1/6@desktop">
                        <div class="c-main-nav__item">
                            <a href="#" title="">
                                <div class="c-main-nav__item-image js-lazyload" data-bg="{{ asset('products/macbook1.jpg') }}"></div>
                                <div class="c-main-nav__item-title">Kategoria 1</div>
                            </a>
                        </div>
                    </div>

                    <div class="o-grid__item u-1/6@desktop">
                        <div class="c-main-nav__item">
                            <a href="#" title="">
                                <div class="c-main-nav__item-image js-lazyload" data-bg="{{ asset('products/macbook1.jpg') }}"></div>
                                <div class="c-main-nav__item-title">Kategoria 1</div>
                            </a>
                        </div>
                    </div>

                    <div class="o-grid__item u-1/6@desktop">
                        <div class="c-main-nav__item">
                            <a href="#" title="">
                                <div class="c-main-nav__item-image js-lazyload" data-bg="{{ asset('products/macbook1.jpg') }}"></div>
                                <div class="c-main-nav__item-title">Kategoria 1</div>
                            </a>
                        </div>
                    </div>

                    <div class="o-grid__item u-1/6@desktop">
                        <div class="c-main-nav__item">
                            <a href="#" title="">
                                <div class="c-main-nav__item-image js-lazyload" data-bg="{{ asset('products/macbook1.jpg') }}"></div>
                                <div class="c-main-nav__item-title">Kategoria 1</div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="c-main-nav__item">
            <a href="#" class="c-main-nav__link" title="Sale">Sale</a>
        </li>
        <li class="c-main-nav__item">
            <a href="#" class="c-main-nav__link" title="New">New</a>
        </li>
        <li class="c-main-nav__item">
            <a href="#" class="c-main-nav__link" title="Contact">Contact</a>
        </li>
    </ul>

    <ul class="c-main-nav__list c-main-nav__list--secondary c-main-nav__list--root o-flex@wide o-flex--justify-content-start js-main-nav--secondary">
        <li class="c-main-nav__item">
            <a href="#" class="c-main-nav__link js-header-search-toggle" title="Search">Search</a>
        </li>
        <li class="c-main-nav__item">
            <a href="{{ path('login') }}" class="c-main-nav__link" title="My account">My account</a>
        </li>
    </ul>
</nav>  