{% extends 'base.html.twig' %}

{% block title %}Register
{% endblock %}

{% block header %}
    {%  include 'partials/site-header.html.twig' %}
{% endblock %}

{% block body_id 'register' %}

{% block body %}
	<section class="c-register u-padding-vertical-huge">
        <div class="o-wrapper">
            <h2 class="o-title u-margin-bottom" data-aos="fade-up">{% trans %}Register{% endtrans %}</h2>

            {{ form_start(form, {
                'attr': {
                    'novalidate': 'novalidate'
                }
            }) }}
                <div class="o-grid o-grid--small">
                    <div class="o-grid__item u-1/2@small-desktop">
                        <div class="o-field{% if form_errors(form.firstname) %} is-invalid{% endif %}" 
                            data-validation="firstname"
                            data-aos="fade-up"
                            data-aos-delay="50">
                            <label class="o-input__label" for="{{ form.firstname.vars.id }}">{% trans %}First name{% endtrans %}</label>
                            {{ form_widget(form.firstname, {
                                'attr': {'class': 'o-input'}
                            }) }}
                            <div class="o-field__error">{% trans %}Please enter a valid first name - only letters allowed!{% endtrans %}</div>
                        </div>
                    </div>
                    <div class="o-grid__item u-1/2@small-desktop">
                        <div class="o-field{% if form_errors(form.lastname) %} is-invalid{% endif %}" 
                            data-validation="lastname"
                            data-aos="fade-up"
                            data-aos-delay="100">
                            <label class="o-input__label" for="{{ form.lastname.vars.id }}">{% trans %}Last name{% endtrans %}</label>
                            {{ form_widget(form.lastname, {
                                'attr': {'class': 'o-input'}
                            }) }}
                            <div class="o-field__error">{% trans %}Please enter a valid last name - only letters allowed!{% endtrans %}</div>
                        </div>
                    </div>
                </div>

                <div class="o-field{% if form_errors(form.email) %} is-invalid{% endif %}" 
                    data-validation="email"
                    data-aos="fade-up"
                    data-aos-delay="150">
                    <label class="o-input__label" for="{{ form.email.vars.id }}">{% trans %}Email address{% endtrans %}</label>
                    {{ form_widget(form.email, {
                        'attr': {'class': 'o-input'}
                    }) }}
                    <div class="o-field__error">{% trans %}Please enter a valid email address!{% endtrans %}</div>
                </div>

                <div class="o-field{% if form_errors(form.password) %} is-invalid{% endif %}" 
                    data-validation="password"
                    data-aos="fade-up"
                    data-aos-delay="200">
                    <label class="o-input__label" for="{{ form.password.vars.id }}">{% trans %}Password{% endtrans %}</label>
                    {{ form_widget(form.password, {
                        'attr': {'class': 'o-input'}
                    }) }}
                    <div class="o-field__error">{% trans %}Password must contain at least 8 characters - 1 lower case letter, 1 upper case letter, 1 digit and 1 special character!{% endtrans %}</div>
                </div>

                <div class="o-field{% if form_errors(form.terms) %} is-invalid{% endif %}" 
                    data-validation="required"
                    data-aos="fade-up"
                    data-aos-delay="250">
                    <div class="o-checkbox u-margin-vertical-small">
                        {{ form_widget(form.terms) }}
                        <label for="{{ form.terms.vars.id }}">{% trans %}I agree to the terms of service{% endtrans %}<a class="u-margin-left-tiny" href="{{ path('index') }}">{% trans %}Terms of service{% endtrans %}</a></label>
                    </div>
                    <div class="o-field__error">{% trans %}Please accept our terms of use!{% endtrans %}</div>
                </div>

                {{ form_row(form._token) }}

                <div class="o-field">
                    <div class="o-grid o-grid--small u-padding-bottom-small">
                        <div class="o-grid__item u-1/2@small-desktop o-flex o-flex--align-items-center u-padding-vertical-small">
                            
                        </div>
                        <div class="o-grid__item u-1/2@small-desktop u-text-right">
                            <button type="submit" class="o-button o-button--primary o-button--full" data-aos="fade-up" data-aos-delay="300">
                                {% trans %}Sign up{% endtrans %}
                                <span class="o-icon o-icon--chevron-right"></span>
                            </button>
                        </div>
                    </div>
                </div>

                <hr data-aos="fade-in" data-aos-delay="350" />

            {{ form_end(form) }}       
    </section>
{% endblock %}

