{% extends 'admin/base.html.twig' %}

{% set settings = {
    valueNames: [ 'name', 'status', 'total', 'date' ],
    page: 10,
    pagination: true
} %}

{% block content %}
    <div class="c-admin-page">
        <h2 class="c-admin-page__title o-page-title" data-aos="fade-up">{% trans %}Orders{% endtrans %}</h2>

        {% if orders|length > 0 %}
            <div id="orders" class="js-list" data-list-settings="{{ settings|json_encode()|escape() }}">
                <div class="o-field u-margin-bottom" data-aos="fade-up" data-aos-delay="50">
                    <label class="o-input__label" for="">{% trans %}Search{% endtrans %}</label>
                    <div class="o-input__wrap">
                        <input type="text" class="o-input search" />
                        <span class="o-input__suffix"><span class="o-icon o-icon--search"></span></span>
                    </div>
                </div>

                <div class="o-table">
                    <div class="o-table__head">
                        <div class="o-table__row" data-aos="fade-up">
                            <div class="o-table__cell o-table__cell--name hide-mobile">{% trans %}Client{% endtrans %}</div>
                            <div class="o-table__cell o-table__cell--status hide-mobile">
                                <span class="sort" data-sort="status">{% trans %}Status{% endtrans %}</span>
                            </div>
                            <div class="o-table__cell o-table__cell--total hide-mobile">
                                <span class="sort" data-sort="total">{% trans %}Total{% endtrans %}</span>
                            </div>
                            <div class="o-table__cell o-table__cell--date">
                                <span class="sort" data-sort="date">{% trans %}Date{% endtrans %}</span>
                            </div>
                            <div class="o-table__cell o-table__cell--actions"></div>
                        </div>
                    </div>
                    <div class="o-table__body list">
                        {% for order in orders %}
                            <div class="o-table__row" data-aos="fade-up" data-aos-delay="50">
                                <div class="o-table__cell o-table__cell--name name hide-mobile"><a href="{{ path('admin-order', {id: order.id}) }}">{{ order.user().firstname }} {{ order.user().lastname }}</a></div>
                                <div class="o-table__cell o-table__cell--status status hide-mobile">{% include 'order/order-status.html.twig' %}</div>                        
                                <div class="o-table__cell o-table__cell--total total hide-mobile">{{ order.total()|format_currency('PLN', locale='pl') }}</div>                        
                                <div class="o-table__cell o-table__cell--date date">{{ order.createdAt()|format_datetime() }}</div>                                    
                                <div class="o-table__cell o-table__cell--actions"><a href="{{ path('admin-order', {id: order.id}) }}" class="o-button o-button--outline o-button--small">{% trans %}See order{% endtrans %}</a></div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <ul class="o-pagination pagination u-margin-top" data-aos="fade-up" data-aos-delay="100"></ul>
            </div>
        {% endif %}
    </div>
{% endblock %}
