<div class="o-grid o-grid--small">
    <div class="o-grid__item u-1/2@small-desktop">
        <div class="o-field{% if form_errors(form.firstname) %} is-invalid{% endif %}" 
            data-validation="required"
            data-aos="fade-up"
            data-aos-delay="50">
            <label class="o-input__label" for="{{ form.firstname.vars.id }}">{% trans %}Firstname{% endtrans %}</label>
            {{ form_widget(form.firstname, {
                'attr': {'class': 'o-input'}
            }) }}
            <div class="o-field__error">{% trans %}Please enter a valid firstname!{% endtrans %}</div>
        </div>
    </div>
    <div class="o-grid__item u-1/2@small-desktop">
        <div class="o-field{% if form_errors(form.lastname) %} is-invalid{% endif %}" 
            data-validation="required"
            data-aos="fade-up"
            data-aos-delay="50">
            <label class="o-input__label" for="{{ form.lastname.vars.id }}">{% trans %}Lastname{% endtrans %}</label>
            {{ form_widget(form.lastname, {
                'attr': {'class': 'o-input'}
            }) }}
            <div class="o-field__error">{% trans %}Please enter a valid lastname!{% endtrans %}</div>
        </div>                    
    </div>
</div>

<div class="o-field{% if form_errors(form.email) %} is-invalid{% endif %}" 
    data-validation="email"
    data-aos="fade-up"
    data-aos-delay="50">
    <label class="o-input__label" for="{{ form.email.vars.id }}">{% trans %}E-mail address{% endtrans %}</label>
    {{ form_widget(form.email, {
        'attr': {'class': 'o-input'}
    }) }}
    <div class="o-field__error">{% trans %}Please enter a valid e-mail!{% endtrans %}</div>
</div>  
