<div class="c-sidebar js-sidebar" data-aos="fade-up">
    <div class="c-sidebar__logo-wrap">
        <a href="{{ path('index') }}">
            <img class="c-sidebar__logo" src="{{ asset('build/images/logo.svg') }}" alt="Logo" />
        </a>
    </div>
    <div class="c-sidebar-nav">
        <ul class="c-sidebar-nav__list c-sidebar-nav__list--root">
            <li class="c-sidebar-nav__item">
                <a href="{{ path('admin') }}" class="c-sidebar-nav__link">{% trans %}Dashboard{% endtrans %}</a>
            </li>
            <li class="c-sidebar-nav__item">
                <a href="#" class="c-sidebar-nav__link">{% trans %}Orders{% endtrans %}</a>
            </li>
            <li class="c-sidebar-nav__item has-children">
                <a href="#" class="c-sidebar-nav__link">{% trans %}Products{% endtrans %}</a>

                <ul class="c-sidebar-nav__list c-sidebar-nav__list--level-1">
                    <li class="c-sidebar-nav__item">
                        <a href="{{ path('admin-products') }}" class="c-sidebar-nav__link">{% trans %}All products{% endtrans %}</a>
                    </li>
                    <li class="c-sidebar-nav__item">
                        <a href="{{ path('admin-new-product') }}" class="c-sidebar-nav__link">{% trans %}Add product{% endtrans %}</a>
                    </li>
                </ul>
            </li>
            <li class="c-sidebar-nav__item has-children">
                <a href="#" class="c-sidebar-nav__link">{% trans %}Categories{% endtrans %}</a>

                <ul class="c-sidebar-nav__list c-sidebar-nav__list--level-1">
                    <li class="c-sidebar-nav__item">
                        <a href="{{ path('admin-categories') }}" class="c-sidebar-nav__link">{% trans %}All categories{% endtrans %}</a>
                    </li>
                    <li class="c-sidebar-nav__item">
                        <a href="{{ path('admin-new-category') }}" class="c-sidebar-nav__link">{% trans %}Add category{% endtrans %}</a>
                    </li>
                </ul>
            </li>
            <li class="c-sidebar-nav__item has-children">
                <a href="#" class="c-sidebar-nav__link">{% trans %}Suppliers{% endtrans %}</a>

                <ul class="c-sidebar-nav__list c-sidebar-nav__list--level-1">
                    <li class="c-sidebar-nav__item">
                        <a href="{{ path('admin-suppliers') }}" class="c-sidebar-nav__link">{% trans %}All suppliers{% endtrans %}</a>
                    </li>
                    <li class="c-sidebar-nav__item">
                        <a href="{{ path('admin-new-supplier') }}" class="c-sidebar-nav__link">{% trans %}Add supplier{% endtrans %}</a>
                    </li>
                </ul>
            </li>
            <li class="c-sidebar-nav__item has-children">
                <a href="#" class="c-sidebar-nav__link">{% trans %}Countries{% endtrans %}</a>

                <ul class="c-sidebar-nav__list c-sidebar-nav__list--level-1">
                    <li class="c-sidebar-nav__item">
                        <a href="{{ path('admin-countries') }}" class="c-sidebar-nav__link">{% trans %}All countries{% endtrans %}</a>
                    </li>
                    <li class="c-sidebar-nav__item">
                        <a href="{{ path('admin-new-country') }}" class="c-sidebar-nav__link">{% trans %}Add country{% endtrans %}</a>
                    </li>
                </ul>
            </li>
            <li class="c-sidebar-nav__item has-children">
                <a href="#" class="c-sidebar-nav__link">{% trans %}Settings{% endtrans %}</a>

                <ul class="c-sidebar-nav__list c-sidebar-nav__list--level-1">
                    <li class="c-sidebar-nav__item">
                        <a href="{{ path('admin-settings') }}" class="c-sidebar-nav__link">{% trans %}All{% endtrans %}</a>
                    </li>
                    <li class="c-sidebar-nav__item">
                        <a href="{{ path('admin-new-country') }}" class="c-sidebar-nav__link">{% trans %}Add country{% endtrans %}</a>
                    </li>
                    <li class="c-sidebar-nav__item">
                        <a href="{{ path('admin-new-shipping') }}" class="c-sidebar-nav__link">{% trans %}Add shipping method{% endtrans %}</a>
                    </li>
                    <li class="c-sidebar-nav__item">
                        <a href="{{ path('admin-new-payment') }}" class="c-sidebar-nav__link">{% trans %}Add payment method{% endtrans %}</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>