{% extends 'base.html.twig' %}

{% block title %}{{ product.name }}
{% endblock %}

{% block body_id 'product' %}

{% block body %}
	<section class="c-product">
        <div class="o-wrapper">
            <div class="o-grid o-grid--small">
                <div class="o-grid__item u-1/2@desktop">
                    <div class="c-product__gallery js-product-gallery" data-aos="fade-up">
                        {% if product.featuredImagePath() %}
                            <div class="c-product__featured o-zoom js-zoom js-product-gallery-featured">
                                <a href="{{ asset(product.featuredImagePath()) }}" data-fancybox="product-gallery">
                                    <img src="{{ asset(product.featuredImagePath()) }}" class="js-lazyload" />
                                </a>
                            </div>
                        {% endif %}
                        {% if product.images()|length > 0 %}
                            <div class="c-product__images" data-aos="fade-up">
                                <div class="o-grid o-grid--tiny">
                                    {% if product.featuredImagePath() %}
                                        <div class="o-grid__item u-1/4@tablet u-1/2">
                                            <div class="c-product__image js-product-gallery-image is-active">
                                                <a href="#" data-fancybox-trigger="product-gallery">
                                                    <img src="{{ asset(product.featuredImagePath()) }}" class="js-lazyload" />
                                                </a>
                                            </div>
                                        </div>
                                    {% endif %}
                                    {% for image in product.images() %}
                                        <div class="o-grid__item u-1/4@tablet u-1/2" data-aos="fade-up" data-aos-delay="{{ (loop.index % 4) * 100 }}">
                                            <div class="c-product__image js-product-gallery-image">
                                                <a href="{{ asset(image.path()) }}" data-fancybox="product-gallery">
                                                    <img src="{{ asset(image.path()) }}" class="js-lazyload" />
                                                </a>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="o-grid__item u-1/2@desktop">
                    <div class="c-product__supplier" data-aos="fade-up" data-aos-delay="100"><a href="{{ path('supplier', {id: product.supplier.id}) }}">{{ product.supplier }}</a></div>
                    <h1 class="c-product__name" data-aos="fade-up">{{ product.name }}</h1>
                
                    {% if product.featuredProductAttributes()|length > 0 %}
                        <div class="c-product__attributes o-table o-table--hoverable o-table--left">
                            {% for productAttribute in product.featuredProductAttributes() %}
                                {% set attribute = productAttribute.attribute %}
                                {% set attributeValue = productAttribute.attributeValue %}
                                <div class="c-product__attribute o-table__row" data-aos="fade-up" data-aos-delay="50">
                                    <div class="c-product__attribute-name o-table__cell">{{ attribute.name }}</div>
                                    <div class="c-product__attribute-value o-table__cell">{{ attributeValue.value }}</div>
                                </div>
                            {% endfor %}
                            <a class="c-product__attributes-link" href="#product-specification" data-aos="fade-up" data-aos-delay="50">{% trans %}Scroll to full specification{% endtrans %}<span class="u-margin-left-tiny o-icon o-icon--chevron-down"></span></a>
                        </div>
                    {% endif %}
                    <div class="c-product__availability" data-aos="fade-up" data-aos-delay="150">
                        {% include 'product/product-availability.html.twig' with {quantity: product.quantityInStock} %}
                    </div>

                    <div class="c-product__price" data-aos="fade-up" data-aos-delay="200">
                        {% include 'product/product-price.html.twig' with {price: product.price, discountPrice: product.discountPrice} %}
                    </div>
                    {{ form_start(form, {
                        'attr': {
                            'novalidate': 'novalidate',
                        }
                    }) }}
                        <div class="o-flex" data-aos="fade-up" data-aos-delay="300">
                            <div class="o-field{% if form_errors(form.quantity) %} is-invalid{% endif %}" 
                                data-aos="fade-up"
                                data-aos-delay="50">
                                <div class="o-quantity js-quantity">
                                    <span class="o-quantity__less js-quantity-less">-</span>
                                    {{ form_widget(form.quantity, {
                                        'attr': {
                                            'class': 'o-quantity__input js-quantity-input',
                                            'min': 0,
                                            'max': product.quantityInStock
                                        }
                                    }) }}
                                    <span class="o-quantity__more js-quantity-more">+</span>
                                </div>
                            </div>
                            <button type="submit" class="c-product__addToCartButton o-button o-button--primary o-button--full"
                            {% if product.quantityInStock == 0 %} disabled {% endif %}>
                                {% trans %}Add to cart{% endtrans %}
                                <span class="o-icon o-icon--chevron-right"></span>
                            </button>
                        </div>

                    {{ form_end(form) }}
                </div>
            </div>

            <hr class="u-margin-vertical-small" />

            {% if product.description %}
                <div class="c-product__description u-margin-bottom" data-aos="fade-up" data-aos-delay="100">{{ product.description | raw }}</div>
            {% endif %}

            <div class="c-product__container" id="product-specification">
                <h3 class="o-title" data-aos="fade-up" data-aos-delay="100">{% trans %}Specification{% endtrans %}</h3>

                {% if product.productAttributes()|length > 0 %}
                    <div class="c-product__attributes o-table o-table--hoverable o-table--left" data-aos="fade-up">
                        {% for productAttribute in product.productAttributes() %}
                            {% set attribute = productAttribute.attribute %}
                            {% set attributeValue = productAttribute.attributeValue %}
                            <div class="c-product__attribute o-table__row" data-aos="fade-up" data-aos-delay="50">
                                <div class="c-product__attribute-name o-table__cell">{{ attribute.name }}</div>
                                <div class="c-product__attribute-value o-table__cell">{{ attributeValue.value }}</div>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}

            </div>
        </div>

        {{ render(controller('App\\Controller\\ProductSliderComponentController::category', {centerMode: false, category: product.category, product: product, limit: 10})) }}

    </section>
{% endblock %}
