<div class="c-product-tile">
    <div class="c-product-tile__ribbons">
        {% if product.discountPrice %}
            <span class="c-product-tile__ribbon">{% trans %}Sale{% endtrans %}</span>
        {% endif %}
    </div>
    <a href="{{ path('product', {id: product.id}) }}">
        <div class="c-product-tile__images" data-aos="fade-in" data-aos-delay="100">
            {% if product.featuredImagePath() %}
                <div class="c-product-tile__image c-product-tile__image--1 js-lazyload" data-bg="{{ asset(product.featuredImagePath()) }}"></div>
            {% endif %}
            {% if product.images|length > 0 %}
                {% for image in product.images %}
                    <div class="c-product-tile__image c-product-tile__image--{{ loop.index + 1 }} js-lazyload" data-bg="{{ asset(image.path()) }}"></div>
                {% endfor %}
            {% endif %}
        </div>
    </a>
    {% if product.category %}
        <div class="c-product-tile__category"><a href="{{ path('category', {id: product.category.id}) }}">{{ product.category }}</a></div>
    {% endif %}
    {% if product.name %}
        <div class="c-product-tile__name" data-equalizer-watch="name">
            <a href="{{ path('product', {id: product.id}) }}" class="name">{{ product.name }}</a>
        </div>
    {% endif %}
    {% if displayAttributes is defined and displayAttributes and product.featuredProductAttributes()|length > 0 %}
        <div class="c-product-tile__attributes">
            {% for productAttribute in product.featuredProductAttributes() %}
                {% set attribute = productAttribute.attribute %}
                {% set attributeValue = productAttribute.attributeValue %}
                <div class="c-product-tile___attribute" data-aos="fade-up" data-aos-delay="50">
                    {{ attribute.name }}: {{ attributeValue.value }}
                </div>
            {% endfor %}
        </div>
    {% endif %}
    {% if product.price %}
        <div class="c-product-tile__price u-text-right" data-equalizer-watch="price">
            {% include 'product/product-price.html.twig' with {price: product.price, discountPrice: product.discountPrice} %}
        </div>
    {% endif %}
</div>