{% extends 'admin/base.html.twig' %}

{% block content %}
    <div class="c-admin-page">
        <h2 class="c-admin-page__title o-title u-margin-bottom" data-aos="fade-up">{{ title }}</h2>

            {{ form_start(form, {'attr': {'novalidate': 'novalidate','enctype': 'multipart/form-data'}}) }}

                <div class="o-field{% if form_errors(form.name) %} is-invalid{% endif %}" 
                    data-validation="required"
                    data-aos="fade-up"
                    data-aos-delay="50">
                    <label class="o-input__label" for="{{ form.name.vars.id }}">{% trans %}Name{% endtrans %}</label>
                    {{ form_widget(form.name, {
                        'attr': {'class': 'o-input'}
                    }) }}
                    <div class="o-field__error">{% trans %}Please enter a valid product name!{% endtrans %}</div>
                </div>

                <div class="o-grid o-grid--small">
                    <div class="o-grid__item u-1/2@small-desktop">
                        <div class="o-field{% if form_errors(form.price) %} is-invalid{% endif %}" 
                            data-validation="price"
                            data-aos="fade-up"
                            data-aos-delay="50">
                            <label class="o-input__label" for="{{ form.price.vars.id }}">{% trans %}Price{% endtrans %}</label>
                            <div class="o-input__wrap">
                                {{ form_widget(form.price, {
                                    'attr': {'class': 'o-input'}
                                }) }}
                                <span class="o-input__suffix">zł</span>
                            </div>
                            <div class="o-field__error">{% trans %}Please enter a valid price!{% endtrans %}</div>
                        </div>
                    </div>
                    <div class="o-grid__item u-1/2@small-desktop">
                        <div class="o-field{% if form_errors(form.discountPrice) %} is-invalid{% endif %}" 
                            data-aos="fade-up"
                            data-aos-delay="50">
                            <label class="o-input__label" for="{{ form.discountPrice.vars.id }}">{% trans %}Discount price{% endtrans %}</label>
                            <div class="o-input__wrap">
                                {{ form_widget(form.discountPrice, {
                                    'attr': {'class': 'o-input'}
                                }) }}
                                <span class="o-input__suffix">zł</span>
                            </div>
                            <div class="o-field__error">{% trans %}Please enter a valid price!{% endtrans %}</div>
                        </div>
                    </div>
                </div>

                <div class="o-field{% if form_errors(form.quantityInStock) %} is-invalid{% endif %}" 
                    data-validation="integer" data-validation-min="0"
                    data-aos="fade-up"
                    data-aos-delay="50">
                    <label class="o-input__label" for="{{ form.quantityInStock.vars.id }}">{% trans %}Quantity{% endtrans %}</label>
                    {{ form_widget(form.quantityInStock, {
                        'attr': {'class': 'o-input'}
                    }) }}
                    <div class="o-field__error">{% trans %}Please enter a valid quantity!{% endtrans %}</div>
                </div>

                <div class="o-grid o-grid--small">
                    <div class="o-grid__item u-1/2@small-desktop">
                        <div class="o-field{% if form_errors(form.category) %} is-invalid{% endif %}" 
                            data-validation="required"
                            data-aos="fade-up"
                            data-aos-delay="50">
                            <label class="o-input__label" for="{{ form.category.vars.id }}">{% trans %}Category{% endtrans %}</label>
                            {{ form_widget(form.category, {
                                'attr': {'class': 'o-input js-select2'}
                            }) }}
                            <div class="o-field__error">{% trans %}Please enter a valid category!{% endtrans %}</div>
                        </div>
                    </div>
                    <div class="o-grid__item u-1/2@small-desktop">
                        <div class="o-field{% if form_errors(form.supplier) %} is-invalid{% endif %}" 
                            data-validation="required"
                            data-aos="fade-up"
                            data-aos-delay="50">
                            <label class="o-input__label" for="{{ form.supplier.vars.id }}">{% trans %}Supplier{% endtrans %}</label>
                            {{ form_widget(form.supplier, {
                                'attr': {'class': 'o-input js-select2'}
                            }) }}
                            <div class="o-field__error">{% trans %}Please enter a valid supplier!{% endtrans %}</div>
                        </div>
                    </div>
                </div>

                <div class="o-field{% if form_errors(form.description) %} is-invalid{% endif %}" 
                    data-aos="fade-up"
                    data-aos-delay="50">
                    <label class="o-input__label" for="{{ form.description.vars.id }}">{% trans %}Description{% endtrans %}</label>
                    {{ form_widget(form.description, {
                        'attr': {'class': 'o-input o-input--textarea'}
                    }) }}
                </div>

                <div class="o-field{% if form_errors(form.featuredImage) %} is-invalid{% endif %}"
                    data-aos="fade-up"
                    data-aos-delay="50">
                    <label class="o-input__label" for="{{ form.featuredImage.vars.id }}">{% trans %}Featured image{% endtrans %}</label>
                    
                    <div class="o-file js-file-input">
                        {{ form_widget(form.featuredImage, {
                            'attr': {'class': 'o-file__input'}
                        }) }}
                        {% if product %}
                            <div class="o-file__item o-file--image" style="background-image: url({{ asset(product.featuredImagePath()) }})">
                                <a href="{{ asset(product.featuredImagePath()) }}" data-fancybox="featured-image"></a>
                            </div>
                        {% endif %}
                        <div class="o-file__item">
                            <label class="o-file__label" for="{{ form.featuredImage.vars.id }}">
                                {% trans %}Choose image{% endtrans %}
                            </label>
                        </div>
                    </div>
                    <div class="o-field__error">{% trans %}Please choose image!{% endtrans %}</div>
                </div>

                <div class="o-field{% if form_errors(form.images) %} is-invalid{% endif %}"
                    data-aos="fade-up"
                    data-aos-delay="50">
                    <label class="o-input__label" for="{{ form.images.vars.id }}">{% trans %}Images{% endtrans %}</label>
                    
                    <div class="o-file js-file-input">
                        {{ form_widget(form.images, {
                            'attr': {'class': 'o-file__input'}
                        }) }}
                        {% if product and product.images()|length > 0 %}
                            {% for image in product.images() %}
                                <div class="o-file__item o-file--image" style="background-image: url({{ asset(image.path()) }})">
                                    <a href="{{ asset(image.path()) }}" data-fancybox="image"></a>
                                </div>
                            {% endfor %}
                        {% endif %}
                        <div class="o-file__item">
                            <label class="o-file__label" for="{{ form.images.vars.id }}">
                                {% trans %}Choose images{% endtrans %}
                            </label>
                        </div>
                    </div>
                    <div class="o-field__error">{% trans %}Please choose images!{% endtrans %}</div>
                </div>

                <div class="o-field u-margin-top-small">
                    <div class="o-grid o-grid--small u-padding-bottom-small">
                        <div class="o-grid__item u-1/2@small-desktop">
                            {% if product %}
                                <a class="o-button o-button--primary o-button--full" data-aos="fade-up" data-aos-delay="300" href="{{ path('admin-delete-product', {id: product.id}) }}">
                                    {% trans %}Remove{% endtrans %}
                                </a>
                            {% endif %}
                        </div>
                        <div class="o-grid__item u-1/2@small-desktop u-text-right">
                            <button type="submit" class="o-button o-button--primary o-button--full" data-aos="fade-up" data-aos-delay="300">
                                {{ buttonText }}
                                <span class="o-icon o-icon--chevron-right"></span>
                            </button>
                        </div>
                    </div>
                </div>

                <hr data-aos="fade-in" data-aos-delay="350" />

            {{ form_end(form) }}
        
    </div>
{% endblock %}
