{% extends 'admin/base.html.twig' %}

{% set settings = {
    valueNames: [ 'name', 'category', 'supplier', 'price', 'quantity' ],
    page: 10,
    pagination: true
} %}

{% block content %}
    <div class="c-admin-page">
        <h2 class="c-admin-page__title o-page-title" data-aos="fade-up">{% trans %}All products{% endtrans %}</h2>

        {% if products|length > 0 %}
            <div id="products" class="js-list" data-list-settings="{{ settings|json_encode()|escape() }}">
                <div class="o-field u-margin-bottom" data-aos="fade-up" data-aos-delay="50">
                    <label class="o-input__label" for="">{% trans %}Search{% endtrans %}</label>
                    <div class="o-input__wrap">
                        <input type="text" class="o-input search" />
                        <span class="o-input__suffix"><span class="o-icon o-icon--search"></span></span>
                    </div>
                </div>
                <div class="o-table">
                    <div class="o-table__head">
                        <div class="o-table__row" data-aos="fade-up">
                            <div class="o-table__cell o-table__cell--image hide-mobile"></div>
                            <div class="o-table__cell o-table__cell--name">
                                <span class="sort" data-sort="name">{% trans %}Name{% endtrans %}</span>
                            </div>
                            <div class="o-table__cell o-table__cell--category hide-mobile">
                                <span class="sort" data-sort="category">{% trans %}Category{% endtrans %}</span>
                            </div>
                            <div class="o-table__cell o-table__cell--supplier hide-mobile">
                                <span class="sort" data-sort="supplier">{% trans %}Supplier{% endtrans %}</span>
                            </div>
                            <div class="o-table__cell o-table__cell--price hide-mobile">
                                <span class="sort" data-sort="price">{% trans %}Price{% endtrans %}</span>
                            </div>
                            <div class="o-table__cell o-table__cell--quantity hide-mobile">
                                <span class="sort" data-sort="quantity">{% trans %}Quantity{% endtrans %}</span>
                            </div>
                        </div>
                    </div>
                    <div class="o-table__body list">
                        {% for product in products %}
                            <div class="o-table__row" data-aos="fade-up" data-aos-delay="50">
                                <div class="o-table__cell o-table__cell--image hide-mobile">
                                    {% if product.featuredImagePath() %}
                                        <a href="{{ path('admin-edit-product', {id: product.id}) }}">
                                            <img data-src="{{ asset(product.featuredImagePath()) }}" class="js-lazyload" />
                                        </a>
                                    {% endif %}
                                </div>
                                <div class="o-table__cell o-table__cell--name name"><a href="{{ path('admin-edit-product', {id: product.id}) }}">{{ product.name }}</a></div>
                                <div class="o-table__cell o-table__cell--category category hide-mobile"><a href="{{ path('admin-edit-category', {id: product.category.id}) }}">{{ product.category }}</a></div>
                                <div class="o-table__cell o-table__cell--supplier supplier hide-mobile"><a href="{{ path('admin-edit-supplier', {id: product.supplier.id}) }}">{{ product.supplier }}</a></div>                            
                                <div class="o-table__cell o-table__cell--price price hide-mobile">
                                    {% include 'product/product-price.html.twig' with {price: product.price, discountPrice: product.discountPrice} %}
                                </div>
                                <div class="o-table__cell o-table__cell--quantity quantity hide-mobile">{{ product.quantityInStock }}</div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <ul class="o-pagination pagination u-margin-top" data-aos="fade-up" data-aos-delay="100"></ul>
            </div>
        {% endif %}
    </div>
{% endblock %}
